/* PHASE 3: Content */

.content {
  width: 900px
}

.content-sidebar {
  float: left;
  padding: 30px;
  width: 190px;
}

.content-main {
  float: left;
  width: 600px;
  padding: 20px;
} 

.content h1 {
  font-size: 24px;
  font-weight: 700;
}

.content p {
  margin-bottom: 20px;
}